# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IntelliJ & VS Code
.idea/
*.iml
.vscode/

# Flutter temporary files
.metadata
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
.dart_tool/
pubspec.lock

# Platform-specific folders (IMPORTANT)
# These will be regenerated in a new project
/android/
/ios/
/web/
/windows/
/linux/
/macos/
