name: myapp
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.9.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  google_fonts: ^6.3.2
  provider: ^6.1.5+1
  shared_preferences: ^2.5.3
  flutter_local_notifications: ^19.5.0
  openvpn_flutter: ^1.3.4
  supabase_flutter: ^2.5.8 # Dependensi Supabase ditambahkan

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/ # Menambahkan direktori aset
